<div id="quickSummary">
  <p class="p1"><span>
The MediaMVP Media Center (mvpmc) is a media player written in C. It currently runs on the Hauppauge MediaMVP hardware. It can play video (including live TV), audio (including live radio), show pictures, and retrieve Yahoo! weather. mvpmc can access media from a MythTV, ReplayTV, Hauppauge, VLC, or SqueezeCenter (aka SlimServer) server.  It can also access media via UPNP, HTTP, NFS and CIFS. There is a VNC viewer built in. It understands MPEG1 and MPEG2 video, MP3, OGG, WAV, AC3 and FLAC audio and JPG, BMP & PNG images.
  </span></p>
</div>
