##########################
# SECTION 1
##########################

#set timezone to Eastern Time
# Other U.S. Timezones:
# CST+6CDT,M4.1.0/2,M10.5.0/2
# MST+7MDT,M4.1.0/2,M10.5.0/2
# PST+8PDT,M4.1.0/2,M10.5.0/2
#
TZ=EST+5EDT,M4.1.0/2,M10.5.0/2; export TZ

# Run rdate to set the system time. $SERVER is the server IP address passed in with the 
# DHCP response
#
rdate -s $SERVER

# Create /wxp_video directory
# Mount my Windows XP boxes CIF's mpeg file share
#
mkdir /wxp_video
mount.cifs //172.31.1.5/video_share /wxp_video/ -o password=guest

########################
# SECTION 2
# Setting the TZ variable above only affects the shell process this script
# runs in. If you want to telnet to the MVP and have the TZ variable set
# then we need to write it to the /etc/shell.config file that gets run 
# everytime a new shell is started.
# This section is only needed if you want to telnet to the mvp 
# and manually run things like mvpmc.
# It's great for deebugging.
########################

# Echo the command to set the TZ variable to the shell.config file
#
echo "TZ=EST+5EDT,M4.1.0/2,M10.5.0/2; export TZ" > /etc/shell.config


######################
# SECTION 3 
# Start the mvpmc application.
# Specify the 18 point font because the default 10 point
# font is unreadable.  
######################

mvpmc -f /etc/helvB18.pcf -R "ip=discover"

