#####################################################
#
# Example config file.
# NOTE: -lines that start with a '#' are comments
#       -command lines should end with a semicolon ';'
#
#####################################################

#################################
# SECTION 1 Setting the Timezone
#################################

#set timezone to Eastern Time
# Other U.S. Timezones:
# CST+6CDT,M4.1.0/2,M10.5.0/2
# MST+7MDT,M4.1.0/2,M10.5.0/2
# PST+8PDT,M4.1.0/2,M10.5.0/2
#
TZ=EST+5EDT,M4.1.0/2,M10.5.0/2; export TZ;

########################
# Setting the TZ variable above only affects the shell process this script
# runs in. If you want to telnet to the MVP and have the TZ variable set
# then we need to write it to the /etc/shell.config file that gets run 
# everytime a new shell is started.
# This section is only needed if you want to telnet to the mvp 
# and manually run things like mvpmc.
# It's great for debugging.
########################

# Echo the command to set the TZ variable to the shell.config file
#
echo "TZ=EST+5EDT,M4.1.0/2,M10.5.0/2; export TZ" > /etc/shell.config;


#################################
# SECTION 2 Syncing the Time
#################################

# Run rdate to set the system time. 
# Use $SERVER if you are running a local TIME server.
# Note: $SERVER is the server IP address passed in with the DHCP response.
# You can attempt to sync to an internet TIME server by specifying the internet 
# servers IP address.
# eg: sync to time.nist.gov: >rdate -s 192.43.244.18;
#
rdate -s $SERVER;

#####################################################
# SECTION 3 Example of Mounting a Windows File Share
#####################################################

# a. Create /wxp_video directory on MediaMVP.
# b. Mount my Windows XP box's mpeg file share
#
# The following lines are commented out since they 
# need to be customized on a per-user basis.
# mkdir /wxp_video;
# mount.cifs //172.31.1.5/video_share /wxp_video/ -o password=guest;


##########################################################################
# SECTION 4
# Start the mvpmc application.  
# The mvpmc command line (line that starts the mvpmc application) 
# should be ended with an ampersand instead of a semicolon. This 
# causes the mvpmc application to run in the background. If this 
# is not done then the mvp may hang or reboot after several days or weeks.
#
# The following mvpmc options start mvpmc with replaytv support and 
# the replaytv color theme
##########################################################################

mvpmc -R "ip=discover" -t /usr/share/mvpmc/replaytv &
